.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
  background-color: #f5f5f5; /* Light grey background */
}
